* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #030b13;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-height: 600px;
  overflow-y: auto;
}

.app-heading {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-box-todo {
  flex: 1;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
}

.add-btn {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #043260;
}

.list-container {
  margin-top: 10px;
}

.list-item {
  background-color: #6e6b65;
  color: #333;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-text {
  flex-grow: 1;
  font-size: 16px;
}

.checkbox {
  margin-right: 10px;
}

.icons {
  display: flex;
  gap: 8px;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.edit-btn {
  background-color: #28a745;
}

.delete-btn {
  background-color: #dc3545;
}

.edit-btn:hover {
  background-color: #218838;
}

.delete-btn:hover {
  background-color: #c82333;
}



.icon {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.3s ease;
}

.edit-icon {
  color: #28a745;
}

.edit-icon:hover {
  color: #218838;
  transform: scale(1.2);
}

.delete-icon {
  color: #dc3545;
}

.delete-icon:hover {
  color: #a71d2a;
  transform: scale(1.2);
}






